<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyy.logcat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name=".LogCatActivity1"
            android:screenOrientation="landscape"
            android:theme="@style/MyDialogActivityTheme"></activity>
        <activity
            android:name=".LogCatActivity2"
            android:screenOrientation="landscape"
            android:theme="@style/MyDialogActivityTheme"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.adsale.registersite.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>